<div ng-click='recenterMap({lat: artist.lat, lng: artist.lng}); expandArtist(artist.id)' class='header'>
  <h4 data-lat='{{artist.lat}}' data-lng='{{artist.lng}}'>{{artist.name}}</h4>
  <a target='blank' ng-show='artist.insta' ng-href='{{artist.insta}}'>
    <img src='img/insta48.png' alt='{{artist.instaHandle}}'>
  </a>
  <a target='_blank' ng-show='artist.email' ng-href='mailto:{{artist.email}}'>
    <i class='material-icons'>email</i>
  </a>
</div>
<div class='details' ng-show='highlight.id == artist.id'>
  <div ng-show='!highlight.posts' class="lds-hourglass"></div>
  <div class='posts'>
    <a target='blank' ng-repeat='post in highlight.posts' ng-href='https://www.instagram.com/p/{{post.shortcode}}/'>
      <img ng-src='{{post.thumb}}'>
    </a>
  </div>
</div>
<div class='tags'>
  <a ng-repeat='tag in artist.tags.split(",")' ng-href='/#!/tags/{{tag}}' class='tag'>{{tag}}</span>
</div>