<div ng-click='recenterMap({lat: artist.lat, lng: artist.lng})' class='header'>
  <h4 data-lat='{{artist.lat}}' data-lng='{{artist.lng}}'>{{artist.name}}</h4>
  <a target='blank' ng-show='artist.insta' ng-href='{{artist.insta}}'>
    <img src='img/insta48.png' alt='{{artist.instaHandle}}'>
  </a>
  <a target='_blank' ng-show='artist.email' ng-href='mailto:{{artist.email}}'>
    <i class='material-icons'>email</i>
  </a>
</div>
<div class='tags'>
  <span ng-repeat='tag in artist.tags' class='tag'>{{tag}}</span>
</div>