<div id="search-bar">
  <input placeholder="Search artists" type="text" ng-model="term" ng-click="focusedArtist = null">
  <a ng-href="/#!/new">
      <i class="material-icons">add_circle_outline</i>
  </a>
</div>
<div id="focusedArtist" ng-show="focusedArtist" class="result" ng-include="'assets/partials/artistCard.html'" ng-repeat="artist in [focusedArtist]">
</div>
<div id="results">
  <div ng-include="'assets/partials/artistCard.html'" ng-repeat="artist in results | filter:term" class="result"></div>
</div>