<div class='navbar py-3 px-4'>
  <a class="navbar-brand" ng-click='artistSearch = ""; search(artistSearch)' href="/#!/">Artograph</a>
  <div id='search-bar' class='input-group form-inline'>
    <input placeholder='Search artists' type='text' ng-model='artistSearch' ng-enter='search(artistSearch)' ng-change='search(artistSearch)' ng-click='focusedArtist = null' class='form-control' aria-label='Search artists'>
    <div class='input-group-append'>
      <a href='/#!/new' class='button'>
        <i class='material-icons'>add</i>
      </a>
    </div>
  </div>
  <a href='/#!/faves' ng-show='user' class='button'>Favorites</a>
  <a ng-click='logout()' href='#' ng-show='user' class='button'>Logout</a>
  <a href='/#!/login' ng-show='!user' class='button'>Login</a>
  <a href='/#!/register' ng-show='!user' class='button'>Register</a>
</div>