a {
  color: #3D6BC8; }
  a:hover {
    color: #477ff1;
    text-decoration: none; }

.button, .chill-button, button, input[type=submit] {
  padding: .375rem .75rem;
  border-radius: .18rem;
  border: 1px solid #3D6BC8;
  transition: .15s; }

.button, button, input[type=submit] {
  background: #3D6BC8;
  color: #ffffff; }
  .button:hover, .button:active, button:hover, button:active, input[type=submit]:hover, input[type=submit]:active {
    background: transparent;
    color: #3D6BC8; }

.chill-button {
  background: transparent; }
  .chill-button:hover, .chill-button:active {
    color: #ffffff;
    background: #3D6BC8; }

.large-button {
  font-size: 1.2em; }

img {
  max-width: 100%; }

h5 {
  cursor: pointer; }

i {
  color: inherit;
  vertical-align: bottom; }

input {
  color: #333;
  border-color: #909090; }
  input::placeholder {
    color: rgba(144, 144, 144, 0.8) !important; }

body {
  color: #333; }

.input-group-text {
  background: #E4E3DE; }

.form-control {
  color: #333; }

.input-group-append .button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }
  .input-group-append .button:hover {
    background: #477ff1;
    color: #ffffff; }

.input-group-text, .form-control {
  border-color: rgba(144, 144, 144, 0.5); }

body {
  height: 100vh;
  position: static;
  display: flex;
  flex-direction: column;
  background: #f5f5f5; }

#nav {
  background: #ffffff; }
  #nav .navbar > * {
    margin: 0 .25rem; }
  #nav #search-bar {
    flex-grow: 2;
    width: auto;
    margin: 0 2rem; }
    #nav #search-bar .input-group-append .btn {
      padding: 0.25rem 0.5rem 0 0.5rem; }

#content {
  background: #f5f5f5;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr; }
  @media (min-width: 50rem) {
    #content.home {
      grid-template-columns: 2fr 3fr; } }
  @media (min-width: 65rem) {
    #content.home {
      grid-template-columns: 1fr 2fr; } }
  #content #map-half {
    position: static;
    display: grid;
    grid-template-rows: 1fr auto auto; }
    #content #map-half #featuredArtist {
      background: #ffffff; }
      #content #map-half #featuredArtist h4 {
        cursor: text; }
      #content #map-half #featuredArtist .header {
        grid-template-columns: 1fr auto auto auto; }
      #content #map-half #featuredArtist .posts {
        display: grid;
        grid-gap: .5em;
        grid-template-columns: repeat(3, 1fr); }
        #content #map-half #featuredArtist .posts a {
          opacity: 1; }
        #content #map-half #featuredArtist .posts a:nth-child(4) {
          display: none; }
        @media (min-width: 65rem) {
          #content #map-half #featuredArtist .posts {
            grid-template-columns: repeat(4, 1fr); }
            #content #map-half #featuredArtist .posts a:nth-child(4) {
              display: block; } }
    #content #map-half #map {
      height: 100%; }
  #content #search-results {
    overflow-y: scroll; }
    #content #search-results a.btn {
      padding: .25rem .5rem; }

.artist {
  border-top: 0.5px solid rgba(144, 144, 144, 0.75); }
  .artist .body {
    padding: .8em; }
    .artist .body .fave {
      cursor: pointer;
      color: #FFC300; }
      .artist .body .fave:hover {
        color: #F8DF76; }
    .artist .body .header {
      display: grid;
      grid-template-columns: auto 1fr auto auto; }
      .artist .body .header h4 {
        font-size: 1.5rem;
        cursor: pointer; }
      .artist .body .header a {
        display: block;
        align-self: center;
        padding: 0 .1em; }
        .artist .body .header a.insta {
          padding-top: .2em; }
          .artist .body .header a.insta svg g * {
            fill: #3D6BC8; }
          .artist .body .header a.insta:hover svg g * {
            fill: #477ff1; }
      .artist .body .header img, .artist .body .header i {
        height: 1.75rem;
        vertical-align: middle;
        padding: 0 .25rem;
        box-sizing: border-box;
        font-size: 1.8rem; }
      .artist .body .header .text span {
        display: inline-block;
        color: #909090;
        margin-right: .5rem; }
      .artist .body .header .tag {
        font-size: .9rem; }

.tag {
  opacity: 1;
  padding: .25em .5em;
  display: inline-block;
  margin: .5rem .5rem 0 0; }

.form {
  margin: 3rem auto;
  background: #ffffff;
  grid-column: 1 / span 2;
  align-self: start;
  padding: 1rem; }

.lds-hourglass {
  display: block;
  margin: auto;
  position: relative;
  width: 64px;
  height: 64px;
  transform: scale(0.6); }

.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 6px;
  box-sizing: border-box;
  border: 26px solid #00000044;
  border-color: #00000044 transparent #00000044 transparent;
  animation: lds-hourglass 2s infinite; }

@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19); }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1); }
  100% {
    transform: rotate(1800deg); } }
