#home {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr; }

#map-half {
  height: 100vh; }
  #map-half #map {
    height: 100%; }

#search-half {
  height: 100vh;
  overflow: scroll; }
