a
  color: inherit
  opacity: .6
  &:hover
    color: inherit
    text-decoration: none
    opacity: .3
img
  max-width: 100%
h5
  cursor: pointer

.form-control
  color: #1c1f21

body
  height: 100vh
  box-sizing: border-box
  overflow: hidden
#nav
  position: static
  #search-bar
    width: auto
    .input-group-append
      .btn
        padding: 0.25rem 0.5rem 0 0.5rem
#content
  box-sizing: border-box
  position: static
  height: 100%
  display: grid
  grid-template-columns: 1fr 1fr
  &.home
    @media (min-width: 50rem)
      grid-template-columns: 2fr 3fr
    @media (min-width: 65rem)
      grid-template-columns: 1fr 2fr
  #map-half
    position: static
    height: 100vh
    display: grid
    grid-template-rows: 1fr auto auto
    #featuredArtist
      h4
        cursor: text
      .header
        grid-template-columns: 1fr auto auto auto
      .posts
        a
          opacity: 1
        display: grid
        grid-gap: .5em
        grid-template-columns: repeat(3, 1fr)
        a:nth-child(4)
          display: none
        @media (min-width: 65rem)
          grid-template-columns: repeat(4, 1fr)
          a:nth-child(4)
            display: block
    #map
      height: 100%
  #search-half
    height: 100vh
    display: grid
    grid-template-rows: auto 1fr
    #results
      overflow: scroll
    a.btn
      padding: .25rem .5rem
      i
        vertical-align: middle
        font-size: 1.75rem
.artist
  .body
    padding: .8em
    .fave
      cursor: pointer
    .header
      display: grid
      grid-template-columns: auto 1fr auto auto
      h4
        font-size: 1.5rem
        cursor: pointer
      a
        display: block
        align-self: center
      img, i
        height: 1.75rem
        vertical-align: middle
        padding: 0 .25rem
        box-sizing: border-box
        font-size: 1.8rem
      .text
        span
          display: inline-block
          color: #888
          margin-right: .5rem
    .tag
      font-size: .9rem
      opacity: 1
      padding: .25em .5em
      display: inline-block
      margin: .5rem .5rem 0 0

@import loading