$bg1:       #ffffff
$bg2:       #f5f5f5
$bg3:       #E4E3DE

$gray:      #909090
$black:     #333
$blue:      #3D6BC8
$blue-hl:   saturate(lighten($blue, 10%), 30%)
$yellow:    #FFC300
$yellow-hl: #F8DF76

// general
a
  color: $blue
  &:hover
    color: $blue-hl
    text-decoration: none
.button, .chill-button, button, input[type=submit]
  padding: .375rem .75rem
  border-radius: .18rem
  border: 1px solid $blue
  transition: .15s
.button, button, input[type=submit]
  background: $blue
  color: $bg1
  &:hover, &:active
    background: transparent
    color: $blue
.chill-button
  background: transparent
  &:hover, &:active
    color: $bg1
    background: $blue
img
  max-width: 100%
h5
  cursor: pointer
i
  color: inherit
  vertical-align: bottom
input
  color: $black
  border-color: $gray
  &::placeholder
    color: fade-out($gray, .2) !important
body
  color: $black

// bootstrap overrides
.input-group-text
  background: $bg3
.form-control
  color: $black
.input-group-append
  .button
    border-top-left-radius: 0
    border-bottom-left-radius: 0
    &:hover
      background: $blue-hl
      color: $bg1
.input-group-text, .form-control
  border-color: fade-out($gray, .5)

// specific
body
  height: 100vh
  position: static
  display: flex
  flex-direction: column
  background: $bg2
#nav
  background: $bg1
  .navbar
    & > *
      margin: 0 .25rem
  #search-bar
    flex-grow: 2
    width: auto
    margin: 0 2rem
    .input-group-append
      .btn
        padding: 0.25rem 0.5rem 0 0.5rem
#content
  background: $bg2;
  height: 100%
  display: grid
  grid-template-columns: 1fr 1fr
  &.home
    @media (min-width: 50rem)
      grid-template-columns: 2fr 3fr
    @media (min-width: 65rem)
      grid-template-columns: 1fr 2fr
  #map-half
    position: static
    display: grid
    grid-template-rows: 1fr auto auto
    #featuredArtist
      background: $bg1
      h4
        cursor: text
      .header
        grid-template-columns: 1fr auto auto auto
      .posts
        a
          opacity: 1
        display: grid
        grid-gap: .5em
        grid-template-columns: repeat(3, 1fr)
        a:nth-child(4)
          display: none
        @media (min-width: 65rem)
          grid-template-columns: repeat(4, 1fr)
          a:nth-child(4)
            display: block
    #map
      height: 100%
  #search-results
    overflow-y: scroll
    a.btn
      padding: .25rem .5rem
      i
        vertical-align: middle
        font-size: 1.75rem
.artist
  border-top: .5px solid fade-out($gray, .25)
  .body
    padding: .8em
    .fave
      cursor: pointer
      color: $yellow
      &:hover
        color: $yellow-hl
    .header
      display: grid
      grid-template-columns: auto 1fr auto auto
      h4
        font-size: 1.5rem
        cursor: pointer
      a
        display: block
        align-self: center
      img, i
        height: 1.75rem
        vertical-align: middle
        padding: 0 .25rem
        box-sizing: border-box
        font-size: 1.8rem
      .text
        span
          display: inline-block
          color: $gray
          margin-right: .5rem
      .tag
        font-size: .9rem
.tag
  opacity: 1
  padding: .25em .5em
  display: inline-block
  margin: .5rem .5rem 0 0
.form
  margin: 3rem auto
  background: $bg1
  grid-column: 1 / span 2
  align-self: start
  padding: 1rem
@import loading