extends base

block body
  .form
    block header
    .form-group
      input#username.form-control(type='text',placeholder='Username')
    .row
      .col-12.col-md-6.mb-3
        input#password.form-control(type='password'placeholder='Password')
      .col-12.col-md-6.mb-3      
        input#confirmation.form-control(type='password',placeholder='Password again, please')
    .alert.alert-danger= error
    button.btn.btn-primary.btn-block.mx-auto(type='submit') Submit